footer {
    width: 100%;
    min-height: 50px;
    background-color: var(--secondary-colour);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    color: var(--text-colour);
}

footer div {
    padding-block: 1em;
    padding-inline: 2em;
    align-self: center;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer li {
    list-style: none;
    text-decoration: underline;
}

footer a, footer a:visited {
    text-decoration: none;
    color: var(--text-colour);
}

footer i {
    color: gray;
    transition: 0.5s;
}

footer hr {
    margin-block: 1em;
}

.fa-discord:hover {
    color: #7289da;
}

.fa-youtube:hover {
    color: #ff0000; 
}

.fa-twitch:hover {
    color: #9146ff;
}

.fa-twitter:hover {
    color: #1da1f2;
}