header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    background-color: var(--secondary-colour);
    box-shadow: 0px 1px 3px black;
    position: fixed;
    height: var(--header-height);
}

header img {
    object-fit: scale-down;
    height: 40px;
    width: 40px;
    margin-left: 1em;
}